<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
    <span class="d-block d-lg-none">
        {% if display_version == "fenix" %}
        <a href="{{site.url}}/fenix.html"><img class="img-fluid mx-auto mb-2" style="max-width: 3rem;"
                src="{{site.url}}/img/fenix.png" alt=""></a>
        <a href="{{site.url}}/kiwi.html"><img class="img-fluid mx-auto mb-2"
                style="max-width: 2rem; filter: grayscale(100%); opacity: 0.8;" src="{{site.url}}/img/kiwi.png"
                alt=""></a>
        {% endif %}

        {% if display_version == "kiwi" %}
        <a href="{{site.url}}/fenix.html"><img class="img-fluid mx-auto mb-2"
                style="max-width: 2rem; filter: grayscale(100%); opacity: 0.8;" src="{{site.url}}/img/fenix.png"
                alt=""></a>
        <a href="{{site.url}}/kiwi.html"><img class="img-fluid mx-auto mb-2" style="max-width: 3rem;"
                src="{{site.url}}/img/kiwi.png" alt=""></a>
        {% endif %}
    </span>
    <span class="d-none d-lg-block img-logo">

        {% if display_version == "fenix" %}
        <table>
            <tr>
                <td><a href="{{site.url}}/fenix.html"><img class="img-fluid img-profile-active mx-auto mb-2"
                            src="{{site.url}}/img/fenix.png" alt=""></a></td>
                <td><a href="{{site.url}}/kiwi.html"> <img class="img-fluid img-profile-inactive mx-auto mb-2"
                            src="{{site.url}}/img/kiwi.png" alt=""></a></td>
            </tr>
        </table>
        {% endif %}

        {% if display_version == "kiwi" %}
        <table>
            <tr>
                <td><a href="{{site.url}}/fenix.html"><img class="img-fluid img-profile-inactive mx-auto mb-2"
                            src="{{site.url}}/img/fenix.png" alt=""></a></td>
                <td><a href="{{site.url}}/kiwi.html"> <img class="img-fluid img-profile-active mx-auto mb-2"
                            src="{{site.url}}/img/kiwi.png" alt=""></a></td>
            </tr>
        </table>
        {% endif %}

    </span>
    <div style="padding: 1em 0 1em 0 !important;" class="">
		<script src="//inc.freefind.com/inc/ffse-overlay.min.js" async></script>
		<!-- start of freefind search box html -->
		<table cellpadding=0 cellspacing=0 border=0 >
		<tr>
			<td  colspan=2 style="font-family: Arial, Helvetica, sans-serif; font-size: 7.5pt;">
				<form style="margin:0px; margin-top:4px;" action="https://search.freefind.com/find.html" method="get" accept-charset="utf-8" target="_self">
				<input type="hidden" name="si" value="28339135">
				<input type="hidden" name="pid" value="r">
				<input type="hidden" name="n" value="0">
				<input type="hidden" name="_charset_" value="">
				<input type="hidden" name="bcd" value="&#247;">
				<input type="text" name="query" size="25"> 
				<input type="submit" value="Hledat">
				<input type=hidden name=lang value=cs>
				</form>
			</td>
		</tr>
		<tr>
			<td style="text-align:left; font-family: Arial, Helvetica, sans-serif;	font-size: 7.5pt; padding-top:4px;">
				<a style="text-decoration:none; color:white;" href="https://www.freefind.com"  rel="nofollow" >site search</a><a style="text-decoration:none; color:white;" href="https://www.freefind.com"  rel="nofollow" > by
				<span style="color: white;">freefind</span></a>
			</td>

			<td style="text-align:right; font-family: Arial, Helvetica, sans-serif;	font-size: 7.5pt; padding-top:4px;">
				<a style="color:white;" href="https://search.freefind.com/find.html?si=28339135&amp;pid=a&amp;lang=cs">pokročilé</a>
			</td>
		</tr>
		</table>
		<!-- end of freefind search box html -->
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
	<div class="scrollbar-inner scrollbar-dynamic">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav content">
                {% for post in site.posts %}
                {% if post.categories contains "fenix" and display_version == "fenix" %}                
                <li class="navbar-item">
                    {% assign majorVersion = post.title | slice:0 %}                    
                    <a href="{{site.url}}/{{ post.url }}" class="nav-link js-scroll-trigger">{% if majorVersion  == "2" %}CLOUD{% else %}VERZE{% endif %} {{ post.title }} -
                        {{ post.date | date: "%d.%m.%Y" }}</a>
                </li>
                {% endif %}

                {% if post.categories contains "kiwi" and display_version == "kiwi" %}
                <li class="navbar-item">
                    <a href="{{site.url}}/{{ post.url }}" class="nav-link js-scroll-trigger">VERZE {{ post.title | replace: "k" : "" }} -
                        {{ post.date | date: "%d.%m.%Y" }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>